<!DOCTYPE html>
<html>
  <head>
    <title>Chores</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Chores</h1>
    <div>
      <% for(var i=0; i < chores.length; i++) { %>
        <div
          class="chore-containers">
          <p
            class="chores"
          ><%- chores[i].title %></p>
          <a
            type="button"
            data-id="<%= chores[i].id %>"
            class="heart chore-done"
          >❤️
            Done
          </a>
        </div>
      <% } %>
      <script>
        for (const el of document.getElementsByClassName("chore-done")) {
          el.onclick = markDone
        }

        function markDone(e) {
          console.log("event!!")
          console.log(e)
          console.log(this)
          const el = e.target;
          const id = el.getAttribute('data-id');
          console.log("id", id)
          console.log("body", id)
          const body = JSON.stringify({id: id})
          fetch('/done', {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: body
          });
          el.classList.add('done');
        }
      </script>
    </div>
  </body>
</html>
