<!DOCTYPE html>
<html>
  <head>
    <title>Chores</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Chores</h1>
    <div>
      <% for(var i=0; i < chores.length; i++) { %>
        <% chore = chores[i] %>
        <div class="chore-containers">
          <span class="chores"><%- chore.title %> -</span>

          <% if (chore.done_at) { %>
            <span>❤️ Good work!</span>
          <% } else { %>
            <a
              type="button"
              data-id="<%= chore.id %>"
              class="heart chore-done"
            >⚡️
              Done
            </a>
         <% } %>
        </div>
      <% } %>
      <script>
        for (const el of document.getElementsByClassName("chore-done")) {
          el.onclick = markDone
        }

        async function markDone(e) {
          const el = e.target;
          const id = el.getAttribute('data-id');
          const body = JSON.stringify({id: id})
          await fetch('/done', {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: body
          });
          location.reload()
        }
      </script>
    </div>
  </body>
</html>
