body {
    background-color: #2a2b2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #fff;
    text-align:center;
}

.chore-containers {
    padding: 10px 0px 30px 0px;
}

.chores {
    font-size: 18px;
    font-style: italic;
    letter-spacing: .8px;
    white-space: pre-wrap;

}

.heart {
    background-color:rgba(109, 102, 102, 0.4);
    border: 2px solid rgba(109,102,102);
    border-radius: 3px;
    cursor: pointer;
    padding: 4px 8px;
}

.done {
    content: 'cool'
}

.clicked {
    background-color: rgba(33, 150, 243, .7);
    border: 2px solid rgba(33, 150, 243);
}
